---
layout: default
title: GitLab SaaS Feature Comparison 
description: Lorem ipsum dolor site amet
suppress_header: true
extra_css:
  - pricing.css
  - compared.css
extra_js:
  - bootstrap-tooltip.js
  - comparison.js
extra_font:
  - "Roboto+Slab"
---
.content-container
  .container
    %h2.faq-title.text-center
      Feature Comparison

      = partial "/includes/feature-comparison-saas-control"

    .text-center
      = link_to "Contact Us", "/sales/", class: "featured-item-cta-btn contact-us-button"
  = partial "includes/features/gitlab-pricing-trial"