<section class="slpEventSpeakers slp-commit-grid slp-relative slp-mb-64 md:slp-mb-160">
  <div class="slp-col-span-4 md:slp-col-span-10">
    <div class="slp-col-span-full slp-relative">
      <div class="slp-max-w-prose">
        <%= partial "includes/cms/event/slp-heading", locals: { heading: speakers_block.heading, icon: "/icons/slp-group.svg" }  %>
      </div>
    </div>
    <div class="slp-col-span-full slp-max-w-3xl">
      <h3 class="slp-text-grayscale-333 slp-font-normal slp-text-lg slp-leading-tight slp-mb-12 md:slp-mr-64">
        <%= speakers_block.subheading %>
      </h3>
      <div class="slp-prose slp-text-grayscale-333 slp-font-normal slp-text-base slp-leading-normal slp-mb-32 md:slp-max-w-3xl">
        <%= kramdown(speakers_block.body) %>
      </div>
    </div>
    <h3 class="slp-text-grayscale-333 slp-font-normal slp-text-xl slp-leading-tight slp-mb-8">
      <%= speakers_block.speakers_are_current ? 'Speakers' : 'Past Speakers' %>
    </h3>
  </div>
  <div class="slp-col-span-full md:slp-col-span-10 slp-flex slp-flex-wrap slp-justify-between">
    <% speakers_block.speakers.each_with_index do |speaker, index| %>
      <figure class="slp-w-6/12 md:slp-w-3/10 slp-mb-48" data-speaker-index="<%= index %>" <%= index >= 9 ? 'style="display: none;"' : '' %>>
            <div class="slp-relative slp-w-11/12">
                <img src="<%= speaker.headshot %>" alt="<%= speaker.name %> headshot" class="slp-rounded slp-mb-28 slp-w-full grayscale-speaker" />
      <div class="slp-rounded slp-absolute slp-w-full slp-h-full slp-bg-ui-secondary-dark slp-opacity-10 slp--right-4 slp--bottom-4 slp--z-1"></div>
    </div>
    <figcaption>
      <div class="slp-text-grayscale-333 slp-font-semibold slp-text-sm md:slp-text-base md:slp-leading-tight slp-mb-12">
        <%= speaker.company %>
      </div>
      <div class="slp-text-grayscale-333 slp-font-normal slp-text-md md:slp-text-lg md:slp-leading-tight slp-mb-12">
        <%= speaker.name %>
      </div>
      <div class="slp-text-grayscale-333 slp-font-normal slp-text-sm md:slp-text-base md:slp-leading-tight">
        <%= speaker.title %>
      </div>
    </figcaption>
  </figure>
<% end %>
</div>
<button class="slpEventSpeakers__button slp-btn slp-btn--secondary slp-col-span-full md:slp-col-start-1 md:slp-w-max">View All Speakers</button>
</section>


<style>
  /* Grayscale speaker headshots */
  img.grayscale-speaker {
    filter: grayscale(100%);
  }
</style>